@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  &.content {
    margin-top: 5rem;
  }
  &.image {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.textbox_flex {
    zIndex: 1;
    position: absolute;
  }
  &.meme {
    height: 500px;
  }
  &.gameScreen {
    position: relative;
  }
  &.steering_element {
  }
}