@import "styles/theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  &.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &.card {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
  }

  .container {
    align-items: center;
    justify-content: center;

    .meme-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      width: 1320px;

      .drag-content {
        align-items: flex-start;
        justify-content: center;
        height: 400px;
        position: relative;

        img {
          // object-fit: cover; //* note: does nothing
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 400px;
          position: relative;
          // position: absolute;
        }

        .draggable-resizable-input {
          font-weight: 750;
          font-size: 16px;
          color: #fff;
          background: none;
          width: 100px;
          min-height: 20px;
          border: none;

          &::placeholder {
            color: #fff;
          }
        }
      }
    }


    .join-btn {
      width: fit-content;
    }

    .game-options {
      width: 400px;

      &.options-multirow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1px;
        align-items: flex-end;
        height: 45px;
      }

      &.options-row {
        display: flex;
        align-items: center;
      }
    }

    .game-options-btn {
      background: $buttonColor;
      transition: all 0.3s ease;
      margin-top: 0.5rem;
      width: 100%;
      border: none;

      &:hover {
        background-color: $buttonColorHover;
      }

    }

    .disableVoting {
      pointer-events: none;
    }

    .reactions-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      svg {
        transition: opacity 0.3s ease;
        color: #4a5d6c;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .selected svg {
        color: rgb(255, 48, 64);
      }
    }

    .icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      p {
        font-size: 10px;
      }
    }
  }

}