@import 'styles/theme';

.home {
  &.content {
    margin-top: 10rem;
  }
  &.title {
    &:hover {
      color: $buttonColor ;
    }
    color: $themeColor;
    font-weight: 750;
    font-size: 50px;
    text-align:center;
    transition: all 0.5s ease;
  }
  &.subtitle {
    text-align:center;
    margin-top:-10px;
    padding-bottom:5em;
    font-size:18px;
    color: $buttonColor;
  }
  &.container {
    &.tutorial {
      width: auto;
      background: rgba(245, 245, 245, 0.47);
      border-style: solid;
      border-color: #adadad;
    }
  }
  &.tutorial-title {
    margin-top:auto;
    color: #565656;
    text-align:left;
    font-size:20px;
    font-weight:600;
  }
  &.tutorial-text {
    color: #494949;
  }
  &.buttons {
    &:hover {
      background-color:$buttonColorHover;
    }
    width: 100%;
    background:$buttonColor;
    transition: all 0.3s ease;
    margin-top:-1em;
    margin-bottom:1em;
    border: none;
  }
  &.join-btn{
    &:hover {
      background-color:$buttonColorHover;
    }
    background:$buttonColor;
    font-size:16px;
    width:auto;
    transition: all 0.3s ease;
    border: solid $buttonColorHover;
  }

}