@import 'styles/theme';
.leaderboard {
  .container {
    align-items: center;
    justify-content: center;
    .meme-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      width: 50%;
      img {
        width: 300px;
        height: 300px;
      }
      textarea {
        font-weight: 750;
        position: absolute;
        font-size: 16px;
        color: #fff;
        background: none;
        width: 100px;
        min-height: 40px;
        border: none;
        &::placeholder {
          color: #fff;
        }
      }
    }
  }
  &.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &.card {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    &.meme {
      background: transparent;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
  }

  &.table {
    border: black;
    table-layout:auto;
    overflow: auto;
  }

  &.best-meme-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }

  &.list-meme {
    cursor: pointer;
  }

  &.special-meme {
    &:hover{
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.7);
    }
    border: solid white 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin-bottom:0.5em;
    transition: all 0.3s ease;
  }

}