@import 'styles/theme';
.leaderboard {
  &.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &.card {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
  }

  &.table {
    border: black;
    table-layout:auto;
    overflow: auto;
  }

  &.best-meme-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }


  &.best-meme-image {
    width: 50%;
    height: 50%;
    margin: auto;
  }

  &.podium-content {
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .podium {
    display: flex;
    justify-content: center;
    align-items: self-end;
    width: 50%;
  }

}