@import 'styles/theme';

.lobby {
  &.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  &.card {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &.alert{
    position: absolute;
    top: 40px;
    right: 0px;
  }
  &.title {
    &:hover {
      color: $buttonColor ;
    }
    margin-top: 80px;
    color: $themeColor;
    font-weight: 750;
    font-size: 50px;
    text-align:center;
    transition: all 0.5s ease;
    margin-bottom: -90px;
  }
  &.subtitle {
    text-align:center;
    margin-top: 90px;
    padding-bottom:5em;
    font-size:18px;
    color: $buttonColor;
    margin-bottom: -70px;
  }
  &.player-title{
    text-align:center;
    color: $themeColor;
    padding-top:10px;
  }
  &.settings-title{
    text-align:center;
    color: $themeColor;
    font-size:20px;
    padding-top:10px;
  }
  &.settings-container{
    padding:2em;
    border: 1px solid black;
    background-color: rgba(175, 175, 175, 0.27);
  }
  &.settings-text{
    font-size:20px;
  }
  &.btn {
    &:active {
      color: white !important;
      border: solid $buttonColorHover;
      background: $buttonColorHover;
    }
    &:hover {
      background-color:$buttonColorHover;
    }
    background-color: $buttonColor;
    border: solid $buttonColorHover;
    transition: all 0.3s ease;
    width:50%;
    &.copy{
      margin-top:5px;
    }
    &.start {
      width:auto;
      margin-bottom:1em;
    }
    &.kick-btn{
      &:hover {
        background-color: #af0000;
        border: solid #af0000;
      }
      &:active {
        color: white !important;
        border: solid #da0000;
        background: #da0000;
      }
      width:auto;
      background: #da0000;
      border: solid #af0000;
    }
    &.leave-btn{
      &:active {
        color: white !important;
        border: solid #da0000;
        background: #da0000;
      }
      position: absolute;
      top: 20px;
      right: 20px;
      background: #da0000;
      border: solid #af0000;
      width:auto;
    }

  }
}