@import 'styles/theme';

.lobby {
  &.container{
    background-color: rgba(161, 168, 196, 0.39);
    border: solid slategray;
    color: $themeColor;
    padding-bottom:1em;
  }
  &.title {
    padding-top:3em;
    color: $themeColor;
    font-weight: 750;
    font-size:40px;
    text-align:center;
  }
  &.player-title{
    text-align:center;
    color: $themeColor;
    padding-top:10px;
  }
  &.settings-title{
    text-align:center;
    color: $themeColor;
    font-size:20px;
    padding-top:10px;
  }
  &.settings-container{
    padding-left:2em;
    padding-bottom:1em;
    border: none;
    background-color:white;
  }
  &.btn {
    &:hover {
      background-color:$buttonColorHover;
    }
    background-color: $buttonColor;
    border: solid $buttonColorHover;
    transition: all 0.3s ease;
    width:50%;
    &.copy{
      margin-top:5px;
    }
    &.start {
      width:20%
    }
    &.leave {
      &:hover {
        background-color: #af0000;
      }
      width: 20%;
      background-color: #da0000;
      border: solid #af0000;
      margin-left: 10px;
    }
  }
}