@import 'styles/theme';

.LobbyCodeContainer {
  &.container {
    margin-top:0.5em;
    background-color: rgba(169, 169, 169, 0.4);
    border: solid #656565;
  }
  &.inner-container{
    font-size:18px;
    padding: 10px 0px 10px 20px;
  }
}