{
  "rules": {
    "no-unused-vars": "off",
    "prettier/prettier": "off",
    "no-dupe-else-if": "off",
    "prefer-spread": "off",
    "no-unsafe-optional-chaining": "off",
    "react/no-unescaped-entities": "off",
    "react/no-children-prop": "off",
    "react/jsx-key": "off",
    "react/display-name": "off",
    "no-undef": "off",
    "no-constant-condition": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "camelcase": "off"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["prettier", "react"],
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "prettier",
    "standard",
    "plugin:prettier/recommended"
  ]
}